html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-left: -1em;
    padding-right: 3em;
    margin-top: -1em;
    padding-top: 1em;
    width: 101%;
    height: 100%;
    text-align: left;
    background-color:rgba(0, 0, 0, 0.788);
    color: white;
}

@keyframes palpitar{
    from {transform: none;}
    95% {transform: scale(1.4);}
    to {transform: none;}
}

.cabecera{
    font-weight: bold;
    display: inline;
    font-size: 2em;
    margin-right: 21em;
}

.botones, .contacto{
    font-weight: bold;
    text-align: justify;
    display: inline;
    margin-left: 2.4%;
    
}

.dropdown-menu{
    background-color: rgb(235, 235, 235);
}

/*Para quitar el estilo del título en otras páginas*/
.sin-estilo{
    color: white;
    background: none;
}

.sin-estilo:hover{
    color: white;
    background: none;
}


a { 
    color: black;
    text-decoration:none;  
    padding: 1px 3px; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear; 
}

a:hover { 
    background: rgb(103, 168, 221); 
    color: white; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear; 
}

.cont{
    color: black;
    text-decoration:none;  
    padding: 1px 3px; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear;
}

.cont:hover{
    background: rgb(103, 168, 221);
    color: white; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear; 
}

@keyframes colorines{
    from {color: black;}
    50% {color: white;}
    to {color: black}
}

h2{
    text-align: center;
    text-shadow: 0 0 10px #222,1px 1px  0 #450505;
    animation: colorines .9s infinite;
    animation-duration: 2s;
    transform-origin: center;
}

.cajas{
    float: left;
    margin-right: 15em;
    margin-left: 12em;
    
}

.cajas2{
    float: left;
    margin-right: 15em;
    margin-left: 12em;
    
}

.card{
    width: 300px;
    height: 100%;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    float:left;
    text-align: justify;
}

.card-body{
    background-color: rgb(235, 235, 235);
}

.btn-primary{
    border-color: white;
    background-color: rgb(5, 14, 22);
}

.cajas2 .btn-primary{
    border-color: rgb(5, 14, 22);
    background-color: white;
}

.btn-primary:hover{
    background: rgb(103, 168, 221); 
    color: white; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear;
}

.cajas2 .btn-primary:hover{
    background: rgb(5, 14, 22); 
    color: white; 
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear;
}

.card-img-top{
    width: 100%;
    height: 400px;
}

ul .btn-primary{
    margin-right: -1em;
    border-color: transparent;
    margin-bottom: 5px;
    color: gray;
}

.titulo-form{
    text-align: center;
    font-weight: bold;
}

.formulario{
    margin-top: 45%;
    padding-left: 30%;
    padding-right: 30%;
    background-color: rgb(116, 114, 114);
}

.lista{
    margin-left: 30%;
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    text-transform: uppercase;
}

.rellenar{
    margin-left: 35%;
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px;  
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }

  .boton-formulario{
    color: white;
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    border-color: white;
    background-color: rgb(5, 14, 22); 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;

  }.boton-formulario:hover{
    color: black;
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    border-color: black;
    background: rgb(103, 168, 221); 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    -webkit-transition: color .4s linear; 
    -moz-transition: color .4s linear; 
    -ms-transition: color .4s linear; 
    -o-transition: color .4s linear; 
    transition: color .4s linear;
  }