h1{
    color:#0F8D64;
}
h2{
    color:blue;
}

span.destacado{
    color:yellow;
}

body p strong {
    color:red;
}

body p a {
    color:red;
}

body p a em{
    color:blue;
}

body p span.especial{
    color:rgb(128, 50, 173);
}

div#adicional p a{
    color: green;
}


table, thead, tfoot, tbody,tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    }

caption{
    color: blue;
}

table thead{
    color: rgb(224, 191, 0);
}

table tfoot{
    color:red;
}

table tbody tr th.especial, strong{
    color: rgb(224, 191, 0);
}

table tbody td{
    color: green;
}

table tbody tr th{
    color: red;
}

div#adicional{
    color:rgb(189, 169, 57);
}

div#adicional span#especial{
    color: rgb(255, 0, 179) ;
}